.resume-page-navbar-everything{
    font-family: Arial, Helvetica, sans-serif;

    background-color: black;
    color: white;
}
.resume-page-navbar-brand{
    font-size: 2em;
}
@media only screen and (max-width: 363px){
    .resume-page-navbar-brand-my-name{
        font-size: 26px;
    }
}