.resume-page-main-details-everything{
    background-color: black;
    color: black;
}
.resume-page-main-details-typical{
    background-color: black;
    color: white;
    font-size: 0.9em;
}
.resume-page-main-details-hi-rohit{
    font-size: 3em;
}