.resume-page-main-details-everything{
    background-color: black;
    color: black;
}
.resume-page-main-details-typical{
    background-color: black;
    color: white;
    font-size: 0.9em;
}
.resume-page-main-details-hi-rohit{
    font-size: 3em;
}
.resume-page-main-details-what-skills-i-have-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    list-style: none;
    font-size: 2em;
}